In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_stata("../Data/country_hsproduct2digit_year.dta")
df.loc[df["location_code"] == "ABW", :]

,location_id,product_id,year,export_value,import_value,hs_eci,hs_coi,pci,location_code,hs_product_code
0,0,100,1995,2.034483e+04,7.295075e+04,-0.468138,-0.696617,-0.510984,ABW,01
1,0,100,1996,0.000000e+00,8.594558e+04,-0.663710,-0.704456,-0.645755,ABW,01
2,0,100,1997,0.000000e+00,3.068224e+04,-1.194294,-0.818992,-0.479227,ABW,01
3,0,100,1998,0.000000e+00,5.127259e+03,0.199708,-0.704800,-0.507854,ABW,01
4,0,100,1999,1.609574e+04,1.882720e+05,-0.083034,-0.801171,-0.577444,ABW,01
...,...,...,...,...,...,...,...,...,...,...
552617,0,404,2014,1.361381e+07,2.943232e+07,0.817055,-0.292990,0.485816,ABW,financial
552618,0,404,2015,1.769838e+07,3.558256e+07,0.786367,-0.002074,0.533360,ABW,financial
552619,0,404,2016,1.685398e+07,3.177764e+07,0.937783,0.277835,0.358226,ABW,financial
552620,0,404,2017,0.000000e+00,0.000000e+00,0.855724,0.148086,0.170714,ABW,financial
552621,0,404,2018,0.000000e+00,0.000000e+00,0.916250,-0.199710,-0.012910,ABW,financial

In [3]:
df

,location_id,product_id,year,export_value,import_value,hs_eci,hs_coi,pci,location_code,hs_product_code
0,0,100,1995,20344.829346,72950.748535,-0.468138,-0.696617,-0.510984,ABW,01
1,0,100,1996,0.000000,85945.580811,-0.663710,-0.704456,-0.645755,ABW,01
2,0,100,1997,0.000000,30682.241211,-1.194294,-0.818992,-0.479227,ABW,01
3,0,100,1998,0.000000,5127.259277,0.199708,-0.704800,-0.507854,ABW,01
4,0,100,1999,16095.740479,188272.045654,-0.083034,-0.801171,-0.577444,ABW,01
...,...,...,...,...,...,...,...,...,...,...
557513,238,404,2014,0.000000,0.000000,NaN,NaN,0.485816,VIR,financial
557514,238,404,2015,0.000000,0.000000,NaN,NaN,0.533360,VIR,financial
557515,238,404,2016,0.000000,0.000000,NaN,NaN,0.358226,VIR,financial
557516,238,404,2017,0.000000,0.000000,NaN,NaN,0.170714,VIR,financial
557517,238,404,2018,0.000000,0.000000,NaN,NaN,-0.012910,VIR,financial